@function rpx($px) { @return $px * 2rpx; }

// 【布局】

.vict-position-center { top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 99; }
.vict-position-top { top: 0; left: 0; z-index: 999; }
.vict-position-bottom { bottom: 0; left: 0; z-index: 999; }
.position-center-custom { left: 50%; transform: translate(-50%, -50%); }

.vict-mask { width: 100vw; height: 100vh; background-color: rgba(0,0,0,0.5); }
.vict-mask-hidden { position: fixed; bottom: -300%; left: -300%; z-index: -9999; }
.vict-full-page { width: 100vw; height: 100vh; overflow: hidden; }

.vict-flex-row { display: flex; justify-content: space-between; flex-direction: row; flex-wrap: wrap; align-items: center; }
.vict-flex-center { display: flex; justify-content: center; align-items: center; flex-direction: row; flex-wrap: wrap; }
.vict-flex-col { display: flex; justify-content: space-between; flex-direction: column; }
.vict-row { padding: 0 rpx(15); }
.vict-section { padding: rpx(15); background-color: #fff; }

$tabBar-height: rpx(50); 
$tabBar-IPX-padding: rpx(34);

$errorColor: #D32929;  
$label-color: #666666;
$placeholder-color: #919191;
$input-border-color: #E7E7E7;
$placeholder-color: #919191; 
$input-color: #212121;
$notice-color: #A3A3A3;
$bg-notice: #F0F0F0;
$light-color: #5F5F5F;

$group-margin-bottom: rpx(10);
$label-margin-bottom: rpx(5);

$input-height: 34px;  
$input-border-radius: 4px;
$input-padding: rpx(12);
$text-area-height: 60px; 


$chosen-height: 34px;  
$chosen-min-width: rpx(75); 
$chosen-padding-x: rpx(25);
$chosen-margin-x: rpx(5);
$chosen-margin-y: rpx(5);
$chosen-font-size: rpx(12);
$chosen-default-color: #919191; 
$chosen-checked-color: #000; 

$search-input-height: rpx(35);
$searchBar-padding: rpx(10);
$searchBar-border: rpx(1);


.error-message { font-size: rpx(12); line-height: rpx(16); color: $errorColor; } 
.vict-form-label { font-size: rpx(12); line-height: rpx(16); color: $label-color; } 

// 样式块 输入框
.vict-input { flex: 1; font-size: rpx(12); color: $input-color; }

