@import "var@function";

// 【弹框（modal）配置】

$modal-close-size: rpx(20);  // 自定义modal 关闭icon 的尺寸（一般为正方形）
$modal-btn-height: rpx(50);  // 自定义modal 关闭button 的高度
$modal-btn-font-size: rpx(16); // 自定义modal 关闭button 的 字体大小

.vict-flex-row { @extend %vict-flex-row; }
.vict-fixed-top { position: fixed; @extend %vict-position-top; }
.vict-mask {
  @extend %vict-mask;
  z-index: 9990;
  &.midea { background-color: #000000; }
}

.vict-toast-con,.vict-modal-dialog { position: fixed; @extend %position-center-custom; z-index: 9999;}

.vict-toast-con {
  top: 40%; width: rpx(160);min-height: rpx(50); background-color: rgba(33,33,33,0.9); border-radius: rpx(2);
  text-align: center; font-size: rpx(12); line-height: rpx(50); color: #fff;font-family:DFPHeiW5-GB;
}

.vict-modal-dialog { background-color: #fff; 
  &.show { animation: show-modal 0.3s ease; animation-fill-mode:forwards; }
  &.hide { animation: hide-modal 0.3s ease; animation-fill-mode:forwards; } }
	@keyframes show-modal {
  0% { opacity:0; }
  100% {  opacity:1; }
}
@keyframes hide-modal {
  0% {  opacity:1; }
  100% {  opacity:0; }
}
.nobgcolor{background-color: transparent;}
.bottom{left: 0; transform: translate(0,0); bottom:0; top:auto;}
.vict-modal-title { text-align: center; font-size: rpx(16); line-height: rpx(32); color: #000000; }

.vict-modal-close {
  position: absolute; top: rpx(15); right: rpx(16); z-index: 999;
  width: $modal-close-size; height: $modal-close-size; justify-content:center;
  //background-color: #1AAD19;
	&.bottom{
		top:auto;
		bottom: rpx(-40);
		right: auto;
		color: #fff;
		margin-left: rpx(-8);
		left: 50%;
	}
}
//.vict-modal-close image { width: 100%; height: auto; }

.vict-modal-btn-con {
  height: #{ $modal-btn-height + rpx(1) }; border-top: rpx(1) solid #f1f1f1;
  text-align: center; font-size: $modal-btn-font-size; line-height: $modal-btn-height;
  .vict-modal-btn {
    flex: 1; font-size: rpx(16); font-family: PingFangSC-Medium; letter-spacing: rpx(1);
  }
  .vict-modal-btn-cancel { color: #666666; border-right: rpx(1) solid #f1f1f1; }
  .vict-modal-btn-ensure { color: #000000; }
}


// @keyframes vict-toasting {
//   0% { opacity: 0; display: block; }
//   50% { opacity: 1; }
//   100% { opacity: 0; display: none; }
// }


.vict-action-con {
  position: fixed; left: 0; bottom: 0; transform: translate3d(0, 50%, 0); z-index:99999;
  width:100%; text-align: center; opacity:0;

  &.show { animation: con-popup 0.3s ease; animation-fill-mode:forwards; }

  &.hide { animation: con-popdown 0.3s ease; animation-fill-mode:forwards; }

  .vict-action-close {
    margin-top:rpx(8); background-color: #fff;
    font-size: rpx(14); line-height: rpx(50);
    &.isIPX { padding-bottom: $tabBar-IPX-padding; }
  }
}

@keyframes con-popup {
  0% { transform: translate3d(0, 50%, 0); opacity:0; }
  100% { transform: translate3d(0, 0, 0); opacity:1; }
}
@keyframes con-popdown {
  0% { transform: translate3d(0, 0, 0); opacity:1; }
  100% { transform: translate3d(0, 50%, 0); opacity:0; }
}

